

.opaque{
    opacity: 0;
    -o-transition:all 1500ms;
    -moz-tranistion:all 1500ms;
    -webkit-transition:all 1500ms;
    transition:all 1500ms;
    transition-timing-function:ease;
    /*-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    /*animation-delay: 2s;*/
}
.reveal{
    opacity: 1;
}
